[Unit]
Description=SBPay p12
After=network.target

[Service]
Type=simple
ExecStart=/home/fsadmin/kso_modules/fiscal/rr_electro/.venv/bin/python /home/fsadmin/kso_modules/fiscal/rr_electro/run.py
Restart=on-failure
WorkingDirectory=/home/fsadmin/kso_modules/fiscal/rr_electro
User=fsadmin
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=default.target
